<% params.has_key?(:a)? account = params[:a].to_i : account = 0 %>

<div class="col-md-3">
  <div class="list-group">
    <a href="/?a=all" class="list-group-item <% account == 0 ? concat('active') : '' %>"><span class="badge"><%= @accounts.sum('value') %></span>Все</a>
    <% @accounts.each do |item| %>
    <a href="/?a=<%= item.id %>" class="list-group-item <% account == item.id ? concat('active') : '' %>"><span class="badge"><%= item.value %></span><%= item.name %></a>
    <% end %>
  </div>
</div>
<div class="col-md-9">
  <% if notice %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %>
    </div>
  <% end %>
  <table class="table table-striped">
    <tr>
      <th>Описание</th>
      <th>Сумма</th>
    </tr>
    <% @operations.each do |item| %>
      <%
      case item.type
        when 0
          style = 'danger'
        when 1
          style = 'success'
        when 2
          style = 'warning'
        else
          style = 'notice'
      end
      %>
    <tr class="<%= style %>">
      <td><%= item.description %></td>
      <td><%= item.value %></td>
    </tr>
    <% end %>
  </table>
</div>