<div class="col-md-12">
    <table class="table table-hovered">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Кошелек</th>
                <th>Сумма</th>
                <th>Категория</th>
                <th>Тег</th>
                <th></th>
            </tr>
        </thead>
        <%= javascript_tag do %>
            window.list = <%= raw @list.to_json %>
        <% end %>
        <tbody>
            <% @list.each_with_index do |item, index| %>
                <tr class="import-row <%= importRowClass(item[:operation][:status]) %>">
                    <td><%= item[:date] %></td>
                    <td><%= item[:account] %></td>
                    <td><%= item[:value] %></td>
                    <td><%= item[:category] %></td>
                    <td><%= item[:tag] %></td>
                    <td><%= link_to 'Добавить правило', '#modal-window', :data => {:toggle => 'modal', :id => index, :target => '#modal-window'}, :class => 'open-modal' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"><%= render(:partial => 'import/new_rule') %></div>
