<p id="notice"><%= notice %></p>

<h1>Listing Moneyboxes</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Current</th>
      <th>Percentage</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moneyboxes.each do |moneybox| %>
      <tr>
        <td><%= moneybox.summary %></td>
        <td><%= moneybox.current %></td>
        <td><%= moneybox.percentage %></td>
        <td><%= moneybox.name %></td>
        <td><%= link_to 'Show', moneybox %></td>
        <td><%= link_to 'Edit', edit_moneybox_path(moneybox) %></td>
        <td><%= link_to 'Destroy', moneybox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moneybox', new_moneybox_path %>
