<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @moneybox.summary %>
</p>

<p>
  <strong>Current:</strong>
  <%= @moneybox.current %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @moneybox.percentage %>
</p>

<p>
  <strong>Name:</strong>
  <%= @moneybox.name %>
</p>

<%= link_to 'Edit', edit_moneybox_path(@moneybox) %> |
<%= link_to 'Back', moneyboxes_path %>
