<div class="row">
  <form method="get">
    <div class="col-md-4">
      <div class="input-daterange input-group" id="datepicker-range" data-behaviour="datepicker_range">
        <input type="text" class="form-control" name="date_s" value="<%= @filter[:date_s].strftime('%d.%m.%Y') %>" />
        <span class="input-group-addon">-</span>
        <input type="text" class="form-control" name="date_e" value="<%= @filter[:date_e].strftime('%d.%m.%Y') %>" />
      </div>
    </div>
    <div class="col-md-3">
      <%= select_tag 'a', options_from_collection_for_select(@filter[:accounts], 'id', 'name', @filter[:active_a]), :prompt => 'Все кошельки', :class => 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= select_tag 'c', options_from_collection_for_select(@filter[:categories], 'id', 'title', @filter[:active_c]), :prompt => 'Все категории', :class => 'form-control' %>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary">Сформировать</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Описание</th>
        <th>Сумма</th>
      </tr>
      </thead>
      <tbody>
      <% @operations.each do |item| %>
        <%
           case item.type
             when 0
               style = 'danger'
             when 1
               style = 'success'
             when 2
               style = 'warning'
             else
               style = 'notice'
           end
        %>
      <tr class="<%= style %>">
        <td>
          <% if item.type != 2 %>
              <%= link_to item.description, edit_operation_path(item) %>
          <% else %>
              <%= link_to item.description, edit_transfer_path(item) %>
          <% end %>
        </td>
        <td><%= item.value %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>