<!DOCTYPE html>
<html>
<head>
  <title>qMoney</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<% unless session[:user_id].nil? %>
<div class="navigation-menu-button" id="js-mobile-menu"><a href="javascript:void(0)">&#9776;</a></div>
<div id="menu-fade"></div>
<header class="navigation">
  <div class="navigation-wrapper">
    <!--<a href="/" class="logo">qMoney</a>-->
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-item"><a href="/">Главная</a></li>
        <li class="nav-item more">
          <a href="javascript:void(0)">Справочники</a>
          <ul class="submenu">
            <li><%= link_to 'Кошельки', accounts_path %></li>
            <li><%= link_to 'Категории', categories_path %></li>
            <li><%= link_to 'Долги', credits_path %></li>
            <li><%= link_to 'Пользователи', users_path %></li>
          </ul>
        </li>
        <li class="nav-item"><%= link_to 'Внести доход/расход', new_operation_path %></li>
        <li class="nav-item"><%= link_to 'Переместить средства', new_transfer_path %></li>
        <li class="nav-item"><%= link_to 'Операции с долгами', transfer_credits_path %></li>
        <li class="nav-item more">
          <a href="javascript:void(0)">Статистика</a>
          <ul class="submenu">
            <li><%= link_to 'Журнал операций', statistic_operations_path %></li>
            <li><%= link_to 'Траты за месяц', statistic_average_spending_path %></li>
          </ul>
        </li>
        <!--<li class="logout-button"><%= link_to 'Выйти', logout_path, method: :delete %></li>-->
      </ul>
    </div>
  </div>
</header>
<% end %>

<div class="main-container"><div class="container"><div class="row"><%= yield %></div></div></div>

</body>
</html>
