<!DOCTYPE html>
<html>
<head>
  <title>qMoney</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<% unless session[:user_id].nil? %>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">qMoney</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочники <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Кошельки', accounts_path %></li>
            <li><%= link_to 'Категории', categories_path %></li>
            <li><%= link_to 'Долги', credits_path %></li>
            <li><%= link_to 'Пользователи', users_path %></li>
          </ul>
        </li>
        <li><a href="/operations/new">Внести доход/расход</a></li>
        <li><%= link_to 'Переместить средства', new_transfer_path %></li>
        <li><%= link_to 'Операции с долгами', transfer_credits_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Статистика <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Журнал операций', statistic_operations_path %></li>
            <li><%= link_to 'Траты за месяц', statistic_average_spending_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session[:user_name] %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Выйти', logout_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>

<div class="container"><div class="row"><%= yield %></div></div>

</body>
</html>
