<%= form_for @account, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @account.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, 'Название кошелька', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control', :placeholder => 'Название' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :value, 'Сумма', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :value, :class => 'form-control', :placeholder => 'Сумма' %>
    </div>
  </div>
  <div class="action">
    <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
  </div>
<% end %>