<%= form_for(@operation, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
      <% @operation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, 'Описание', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :description, :class => 'form-control', :placeholder => 'Описание' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :value, 'Сумма', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :value, :class => 'form-control', :placeholder => 'Сумма', :step => 'any' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type, 'Тип операции', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select(:operation, :type, [['Расход', 0], ['Доход', 1]], {}, {:class => 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :account_id, 'Кошелек', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= collection_select(:operation, :account_id, Account.all, :id, :name, {selected: is_selected(@operation)}, {:class => 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category_id, 'Категория', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= collection_select(:operation, :category_id, Category.all, :id, :title, {}, {:class => 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag 'custom_date_label', 'Дата', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%
         date = Time.zone.today
         unless @operation.operation_date.nil?
           date = @operation.operation_date.strftime('%Y-%m-%d')
         end
      %>
      <%= text_field_tag('custom_date', date, :class => 'form-control', 'data-behaviour' => 'datepicker') %>
    </div>
  </div>
  <div class="col-md-12 form-group">
    <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
    <% unless @operation.id.nil? %>
    <%= link_to 'Удалить', @operation, method: :delete, data: {confirm: 'Вы уверены?'}, :class => 'btn btn-danger' %>
    <% end %>
  </div>

  <%= hidden_field_tag 'old_value', @operation.value %>
  <%= hidden_field_tag 'old_type', @operation.type %>
  <%= hidden_field_tag 'old_account', @operation.account_id %>
<% end %>
